<div class="patient-detail-container" style="display: flex; gap: 1rem">
  <!-- Left section: 3 cols -->
  <div style="flex: 0 0 25%">
    <!-- <h3>{{ patientId }}</h3> -->
    <app-patient-profile
      [patient]="{
        id: '1',
        fullName: 'Ahmed Eid',
        birthDate: '1/7/1998',
        email: 'AhmedEid@gmail.com'
      }"
    ></app-patient-profile>
    <app-patient-timeline></app-patient-timeline>
  </div>

  <!-- Right section: 9 cols -->
  <div style="flex: 1;">
      <!-- custom layout component to be used here -->
    <ng-template #dynamicComponentContainer></ng-template>
    <!-- <p-panel header="Additional Data">
      <app-custom-layout
        [layout]="layout"
        [cols]="cols"
        [rowHeight]="rowHeight"
        [gap]="gap"
        [compactType]="compactType"
        [disableRemove]="disableRemove"
        [disableDrag]="disableDrag"
        [disableResize]="disableResize"
        [componentMap]="componentMap"
        [backgroundConfig]="backgroundConfig"
      ></app-custom-layout>
    </p-panel> -->
  </div>
</div>
